{% extends "site_base_paged.html" %}

{% block page-content %}
  <h1>Article List</h1>
  {% if articles %}
  <ul>
    {% for article in articles %}
      <div class="card mb-3" style="max-width: 1000px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="{{article.img}}" class="card-img" alt="{{article.title}}">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">
                <a href="{{article.page_url}}">
                  {{article}}
                </a>
                {% if article.sitetype == "WH" %}
                <span class="badge badge-success">
                  WikiHow
                </span>
                {% else %}
                <span class="badge badge-warning">
                  Instructables
                </span>
                {% endif %}
              </h5>
              <p>
                <span class="badge badge-primary">{{article.cat}}</span>
                {% for sc in article.subcat.all %}
                    <span class="badge badge-default">{{sc.name}}</span>
                {% endfor %}
              </p>
              <p class="card-text" style = "min-height: 120px">{{article.summary}}</p>
              <p class="card-text">
                <small class="text-muted">
                  {{article.datetime.date}}
                </small>
              </p>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no articles.</p>
  {% endif %}
{% endblock %}
